#logo {
	background-image: url('media/logo.png');
}
.hidden {
    diplay: none;
    visibility: hidden;
}

.my {
    
}

.profil {
    
}

.notification {
    
}

.contact {
    
}

.recommandation {
    
}

.category {
    
}

.gsc {
    
}

}
.legal {
    
}

.social {
    
}

.portfolio {
    
}

.avantage {
    
}

.param {
    
}

.button {
    
}

.listButton {
    
}

.addButton {
    
}

.item {
    
}

.add {
    
}

.list {
    
}

.detail {
    
}

.avatar {
    
}

.edit {
    
}

.name {
    
}

.surname {
    
}

.email {
    
}

.telMobile {
    
}

.title {
    
}

.description {
    
}

.recommandationNumber {
    
}

.socialConnected {
    
}

.socialToConnectButton {
    
}

.socialDisconnectButton {
    
}

.image {
    
}

.facebook {
    
}

.google {
    
}

.recommandationOnActionButton {
    
}

.recommandationOffActionButton {
    
}

.contactAddActionButton {
    
}

.notificationContent {
    
}

.recommandationAcceptActionButton {
    
}

.type {
    
}

.recommandationNew {
    
}

.recommandationAccepted {
    
}

.contactAsk {
    
}

.contactAskAcceptActionButton {
    
}

.contactAskAccepted {
    
}

.recommandationNewContact {
    
}

.contactAskAcceptedContact {
    
}

.recommandationRenew {
    
}

.contactAskRenew {
    
}

.emailing {
    
}

.sms {
    
}

.device {
    
}

.profilDeleteActionButton {
    
}

.field {
    
}

.gscAcceptActionButton {
    
}

.confirmation {
    
}

.profilDeleteActionButtonConfirm {
    
}

.recommandationOffActionButtonConfirm {
    
}

.contactRemoveActionButton {
    
}

.contactRemoveActionButtonConfirm {
    
}
.saveActionButton {
	
}
.create {
	
}
.update {
    
}
.readOnly {
    
}
