<p class="field avatar my {accessMode}"><input type="file" placeholder="{avatar::default}" id="avatar" value="{avatar::value}" accept="image/*"></p>
<script src="js/uploadAvatar.js"></script>
<p class="field name {accessMode}"><input type="text" placeholder="{name::default}" id="name" value="{name::value}"></p>
<p class="field surname my {accessMode}"><input type="text" placeholder="{surname::default}" id="surname" value="{surname::value}"></p>
<p class="field title my {accessMode}"><input type="text" placeholder="{title::default}" id="title" value="{title::value}"></p>
<p class="field recommandationOnActionButton my {accessMode} {recommandationOnActionButton::show}">
    <button type="button" id="recommandationOnActionButton" value="{recommandationOnActionButton::value}">
</p>
<p class="field recommandationOffActionButton my {accessMode} {recommandationOffActionButton::show}">
    <button type="button" placeholder="{recommandationOffActionButton::default}" id="recommandationOffActionButton" value="{recommandationOffActionButton::value}">
    <div class="field confirmation recommandationOffActionButtonConfirm {recommandationOffActionButtonConfirm:show}">
        <button type="button" id="recommandationOffActionButtonConfirm" value="{recommandationOffActionButtonConfirm::value}">
    </div>
</p>
<p class="field contactAddActionButton my {accessMode} {contactAddActionButton:show}">
    <button type="button" id="contactAddActionButton" value="{contactAddActionButton::value}">
</p>
<p class="field contactRemoveActionButton my {accessMode} {contactRemoveActionButton:show}">
    <button type="button" id="contactRemoveActionButton" value="{contactRemoveActionButton::value}">
    <div class="field confirmation contactRemoveActionButtonConfirm {contactRemoveActionButtonConfirm:show}">
        <button type="button" id="contactRemoveActionButtonConfirm" value="{contactRemoveActionButtonConfirm::value}">
    </div>
</p>
<p class="field recommandationAcceptActionButton my {accessMode} {recommandationAcceptActionButton:show}">
    <button type="button" id="recommandationAcceptActionButton" value="{recommandationAcceptActionButton::value}">
</p>
<p class="field contactAskAcceptActionButton my {accessMode} {contactAskAcceptActionButton:show}">
    <button type="button" id="contactAskAcceptActionButton" value="{contactAskAcceptActionButton::value}">
</p>
<p class="field saveActionButton my {accessMode} {saveActionButton:show}">
    <button type="button" id="saveActionButton" value="{saveActionButton::value}">
</p>

