<nav id="navigation" role="navigation">
	<ul class="pam unstyled">
		<li class="pam button listButton avantage">Recevez des recommandations</li>
		<li class="pam button listButton portfolio my hidden">Portfolio</li>
		<div class="list portfolio my hidden">
			<div class="item portfolio my hidden">
				<p class="field image my  {accessMode} hidden">
					<img src="urlImage" title="Title">
				</p>
				<p class="field title  {accessMode} hidden">title</p>
				<p class="field description edit hidden">description</p>
			</div>
			<div class="item portfolio my  {accessMode} hidden">
				<p class="field image my  {accessMode} hidden">
					<img src="urlImage" title="Title">
				</p>
				<p class="field title  {accessMode} hidden">title</p>
				<p class="field description  {accessMode} hidden">description</p>
			</div>
		</div>
		<li class="pam button listButton notification">Notifications</li>
		<div class="list notification">
			<div class="item notification my">
				<p class="field type recommandationNew my">Nouvelle
					recommandation</p>
				<p class="field avatar my">Avatar</p>
				<p class="field name">Nom</p>
				<p class="field surname my">Prénom</p>
				<p class="field title my">Titre du profil</p>
				<p class="field notificationContent my">Demande de recommandation</p>
				<p class="field recommandationOnActionButton my edit hidden">RECOMMANDER</p>
				<p class="field recommandationOffActionButton my edit hidden">DERECOMMANDER


				
				<div
					class="field confirmation recommandationOffActionButtonConfirm hidden">Etes
					vous sur de vouloir dérecommander le profil?</div>
				</p>
				<p class="field contactAddActionButton my edit hidden">AJOUTER
					AUX CONTACTS</p>
				<p class="field contactRemoveActionButton my edit hidden">SUPPRIMER
					DES CONTACTS
				<div
					class="field confirmation contactRemoveActionButtonConfirm hidden">Etes
					vous sur de vouloir supprimer le profil?</div>
				</p>

				<p class="field recommandationAcceptActionButton my edit">ACCEPTER</p>
				<p class="field contactAskAcceptActionButton my edit hidden">ACCEPTER</p>
				<div class="detail profil"></div>
			</div>
		</div>
		<div class="item notification hidden">
			<p class="field type recommandationAccepted my hidden">Recommandation
				acceptée</p>
			<p class="field avatar my hidden">Avatar</p>
			<p class="field name hidden">Nom</p>
			<p class="field surname my hidden">Prénom</p>
			<p class="field title my hidden">Titre du profil</p>
			<p class="field notificationContent my hidden">Recommandation
				acceptée</p>
			<p class="field recommandationOnActionButton my edit hidden">RECOMMANDER</p>
			<p class="field recommandationOffActionButton my edit hidden">DERECOMMANDER


			
			<div
				class="field confirmation recommandationOffActionButtonConfirm hidden">Etes
				vous sur de vouloir dérecommander le profil?</div>
			</p>
			<p class="field contactAddActionButton my edit hidden">AJOUTER
				AUX CONTACTS</p>
			<p class="field contactRemoveActionButton my edit hidden">SUPPRIMER
				DES CONTACTS
			<div
				class="field confirmation contactRemoveActionButtonConfirm hidden">Etes
				vous sur de vouloir supprimer le profil?</div>
			</p>

			<p class="field recommandationAcceptActionButton my edit hidden">ACCEPTER</p>
			<p class="field contactAskAcceptActionButton my edit hidden">ACCEPTER</p>
			<div class="detail profil"></div>
		</div>